{extend name='public/base' /}

{block name='seo'}
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<title>{$title|default='网页标题'}</title>
<meta name="keywords" content="{$keywords|default='网页关键字'}">
<meta name="description" content="{$desc|default='网页描述'}">
</head>
<body>
{/block}

{block name='content'}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		学生管理
		<span class="c-gray en">&gt;</span>
		学生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>

	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> <a href="javascript:;" onclick="unDeleteAll()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a></span>
				<span class="select-box" style="width:auto;margin-left: 40px">
				<select class="select" id="grade_id" name="grade_id" size="1">
					<option value="all">所有班级</option>
					{volist name="$gradeList" id="vo"}
					{empty name="$grade_id"}
					<option value="{$vo.id}" >{$vo.name}</option>
					{else /}
					<option value="{$vo.id}" {eq name="$grade_id" value="$vo.id"}selected{/eq}>{$vo.name}</option>
					{/empty}
					{/volist}
					<option value="0" {present name="$grade_id"}{eq name="$grade_id" value="0"}selected{/eq}{/present}>未分配</option>
				</select>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>

			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="12">学生列表</th>
					</tr>
					<tr class="text-c">
						<th width="40">ID</th>
						<th width="120">姓名</th>
						<th width="100">性别</th>
						<th width="100">年龄</th>
						<th width="120">手机号码</th>
						<th width="120">邮箱</th>
						<th width="120">入学时间</th>
						<th width="120">所属班级</th>
						<th width="120">状态</th>
						<th width="120">操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name='data' id='vo'}
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{eq name="$vo.sex" value="0"}女{else/}男{/eq}</td>
						<td>{$vo.age}</td>
						<td>{$vo.mobile}</td>
						<td>{$vo.email}</td>
						<td>{$vo.start_time|date='Y-m-d',###}</td>
						<td>{$vo.grade}</td>
						<td class="td-status">
						{eq name="$vo.status" value="1"}
							<span class="label label-success radius">已启用</span>
						{else /}
							<span class="label label-default radius">已停用</span>
						{/eq}
						</td>
						<td class="td-manage">
							<a onClick="unDelete(this,{$vo.id})" href="javascript:;" title="恢复" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe615;</i></a>
							<a title="删除" href="javascript:;" onclick="admin_del(this,{$vo.id})" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
			<div class="">{$page}</div>
		</article>
	</div>
</section>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

	$(function () {
        gradeSelect();	//班级选择
    });

    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */

    /*管理员-删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
			$.ajax({
				type:"POST",
				url:"{:url('student/studentDel')}",
				data:{'id':id},
				dataType:"json",
				success:function (data) {
					if(data.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.message,{icon:1,time:1000});
					}else{
					    layer.msg(data.message,{icon:5,time:1000});
					}
                }
			});
        });
    }

    //批量恢复所有学生
    function unDeleteAll() {
        layer.confirm('确认批量恢复吗?',function () {
            $.get("{:url('student/unDeleteAll')}");
            layer.msg('恢复成功!',{icon:1,time:2000});
            location.replace("{:url('student/studentList')}");
        })
    }

    //恢复指定id学生
    function unDelete(obj,id){
        layer.confirm('确认要恢复吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:url('student/undelete')}",{id:id});
            layer.msg('恢复成功',{icon:1,time:1000});
            $(obj).parents("tr").remove();
        });
    }

    /*班级下拉框选择事件*/
	function gradeSelect(){
        var grade_id=document.getElementById("grade_id");
        grade_id.onchange=function(){
            //alert(grade_id.options[grade_id.selectedIndex].value);
			var id = grade_id.options[grade_id.selectedIndex].value;
			location.replace("/index/student/delList/grade_id/"+id);
        }
	}


</script>
<!--/请在上方写此页面业务相关的脚本-->

{/block}